@use "tailwind";
@use "@angular/material" as mat;
@use "theme";
@use "sass:map";

/* Material Colors */
:root {
  @include mat.theme(
      (
        color: (
          primary: theme.$primary-palette,
          tertiary: theme.$tertiary-palette,
          theme-type: color-scheme,
        ),
        density: 0,
      )
  );
}

/* Material Typography */
:root {
  &[dir="ltr"] {
    @include mat.theme(
        (
          typography: (
            brand-family: (
              Arya,
              sans-serif,
            ),
            plain-family: (
              Roboto,
              sans-serif,
            ),
          ),
        )
    );
  }

  &[dir="rtl"] {
    @include mat.theme(
        (
          typography: (
            brand-family: (
              Zain,
              sans-serif,
            ),
            plain-family: (
              Vazirmatn,
              sans-serif,
            ),
          ),
        )
    );
  }
}

/* Material Components */
:root {
  @include mat.sidenav-overrides(
      (
        container-width: 256px,
        container-divider-color: var(--mat-sys-outline-variant),
      )
  );

  @include mat.divider-overrides(
      (
        color: var(--mat-sys-outline-variant),
      )
  );

  @media (width >= 960px) {
    @include mat.sidenav-overrides(
        (
          container-width: 88px,
        )
    );
    --mat-sidenav-container-background-color: var(--mat-sys-surface-container);
  }
}

/* Root Styles */
:root {
  color-scheme: light dark;

  &.DEFAULT-LIGHT-theme {
    color-scheme: light;
  }

  &.DEFAULT-DARK-theme {
    color-scheme: dark;
  }

  @apply bg-surface;
  @apply text-on-surface;
  @apply font-body-lg;
  @apply selection:text-on-primary selection:bg-primary;
}

h1 {
  @apply font-display-md;
  @apply font-bold;
  @apply sm:font-display-lg;
  @apply sm:leading-tight;
  @apply sm:font-bold;
  @apply md:text-7xl;
}

h2 {
  @apply font-headline-sm;
  @apply md:font-headline-md;
}

h3 {
  @apply font-headline-sm;
  @apply md:font-headline-md;
  font-size: 26px;
}

h4 {
  @apply font-title-lg;
}

h5 {
  @apply font-title-md;
}

p {
  @apply whitespace-pre-line;
}

blockquote {
  @apply py-4 ps-6;
  @apply text-on-surface-variant italic md:text-lg;
  @apply border-s-primary border-s-4 border-solid;
  @apply rounded-s-xs;

  p {
    @apply flex flex-col gap-3;
  }
}

.card-content {
  @apply mt-5;
}

[truncate] {
  @apply relative;
  @apply overflow-hidden;
  transition: max-height 0.5s ease-in-out;

  &.truncated::after {
    content: "";
    @apply absolute inset-x-0 bottom-0;
    @apply h-20;
    background: linear-gradient(to top, var(--mat-sys-surface-container-low), transparent);
    @apply pointer-events-none;
  }

  &.expanded {
    @apply max-h-[2000px];
  }

  .more-less-btn {
    @apply absolute end-0 bottom-0 ps-28;
    @apply select-none;
    @apply cursor-pointer;
    @apply font-body-lg;
    @apply text-on-surface-variant;
    @apply z-10;
    transition: opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
    will-change: opacity, visibility;

    &.visible-btn {
      @apply visible opacity-100;
      @apply pointer-events-auto;
    }

    &.hidden-btn {
      @apply invisible opacity-0;
      @apply pointer-events-none;
    }

    mat-card & {
      background: linear-gradient(to bottom, transparent, var(--mat-sys-surface-container-low) 50%),
      linear-gradient(
          to right,
          transparent,
          var(--mat-sys-surface-container-low) 50%,
          var(--mat-sys-surface-container-low) 100%
      );
    }

    [dir="rtl"] mat-card & {
      background: linear-gradient(to bottom, transparent, var(--mat-sys-surface-container-low) 50%),
      linear-gradient(
          to left,
          transparent,
          var(--mat-sys-surface-container-low) 50%,
          var(--mat-sys-surface-container-low) 100%
      );
    }
  }
}
